.menu {
    box-shadow: 10px 10px 10px rgba(137, 127, 127, 0.2);
}
.mapModal {
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
.myDisplay {
    display: block;
    height: 400px;
}